# Auto detect text files and perform LF normalization
* text=auto

# Remove latex file from repository languages stats
enunciado/prova02.tex -linguist-documentation
enunciado/prova02.tex -linguist-vendored